.navbar-laravel{
    width: 100%;
    box-shadow: 0 0 0 5px #c6c8ca;
    background-color:  brown !important;
    z-index: 3;
    /*border-bottom: 1px solid #e4027e;*/
}


.container .navbar-brand, .navbar-light .navbar-nav .nav-link{
    color: #fff !important;
}
/*.navbar-light .navbar-nav .nav-link{
    color: #fff;
}*/
.navbar-light .navbar-nav .nav-item:hover{
    background-color: #8e5858;
}

.header-home-content{
    padding: 10px 0px 0px 0px;
}